# Zip files

.zip
*/.zip

# End Zip files

# Git stuffs in subfolders

*/.git/
*/.gitignore

# End git stuffs

# Folders are already has repository

loading-animation/
react-firebase-upload-file/
react-preview-pdf/
react-super-chatbox/
ToDoList/

# End folders
