html {
  overflow-y: scroll;
}
html,
body {
  font-family: "Roboto", -apple-system, Arial, sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#showAllText {
  user-select: none;
  transition: 0.3s;
  cursor: pointer;
}
#showAllText:hover {
  transition: 0.5s;
  opacity: 0.5;
}

article {
  overflow-x: hidden;
  padding: 0 10px;
  margin: 0 auto;
}
article .article__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article .article__title .checkbox {
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  display: flex;
}
article .article__title .checkbox input {
  transition: 0.3s ease;
}

article .accordion-container {
  border-radius: 0.5rem;
  overflow: hidden;
}
section.accordion-box {
  transition: 0.3s ease-in-out;
  background: url("../images/ginx_bg_pattern_darkblue.jpg") no-repeat center center;
  background-size: cover;
  padding: 1rem;
  color: #fff;
}
section.accordion-box .accordion-box-title {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 10px 10px 48px;
  text-transform: capitalize;
  position: relative;
  line-height: 28px;
  min-height: 48px;
  font-size: 16px;
  cursor: pointer;
}
section.accordion-box .accordion-box-title::before {
  content: " ";
  width: 48px;
  height: 48px;
  position: absolute;
  background: url("../images/chevron_down_yellow.svg") no-repeat center center;
  background-size: 32px 32px;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.48s ease-in-out;
  left: 0;
  top: 0;
}
section.accordion-box .accordion-box-description {
  transition: 0.48s ease-in-out;
  line-height: 36px;
  overflow: hidden;
  font-size: 16px;
  padding: 0 10px;
  max-height: 0;
}

section.accordion-box.expand .accordion-box-description {
  transition: 0.8s ease-in;
}
section.accordion-box.expand .accordion-box-title::before {
  transform: rotate(180deg);
}
section.accordion-box.expand .accordion-box-description {
  max-height: 100vh;
}
section.accordion-box.expand .accordion-box-description p {
  color: #fff;
}
section.accordion-box.expand .accordion-box-description p a {
  color: #fff70f;
}

table {
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
}
td {
  height: 24.98px;
  width: calc(100% / 3);
  text-align: center;
  user-select: none;
  cursor: pointer;
}
td:hover {
  background-color: #ffffff33;
  border-radius: 0.3rem;
  transition: 0.1s;
}

.alert-container {
  color: #fff;
  background: gray;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  min-width: 100px;
  height: 32px;
  width: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.16));
  transform: translateX(500px);
  font-size: 14px;
}
.alert-container.success {
  background: green;
}
.alert-container.info {
  background: gray;
}
.alert-container.error {
  background: red;
}

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-out-blurred-right {
  -webkit-animation: slide-out-blurred-right 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-right 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

/* ***** */

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
